{% extends 'base.html.twig' %}

{% block title %}Roqua
{% endblock %}

{% block body %}

	<ul>
		{% for question in questions %}
			<a href="{{ path('question_show', { id: question.id }) }}" class="block block-shadow d-flex flex-row mb-20">
				<div class="d-flex flex-column mr-20 align-items-center">
					<i class="fas fa-arrow-up {{ question.rating > 0 ? 'rating-up' : '' }}"></i>
					<p class="text-small {{ question.rating > 0 ? 'rating-up' : question.rating < 0 ? 'rating-down' : ''}}">
						{{ question.rating }}</p>
					<i class="fas fa-arrow-down {{ question.rating < 0 ? 'rating-down' : '' }}"></i>
				</div>
				<div class="flex-fill d-flex flex-column">
					<div class="mb-20 question-content pb-20">
						<h3 class="mb-20">{{ question.title }}</h3>
						<p>{{ question.content }}</p>
					</div>
					<div class="d-flex flex-row justify-content-between">
						<div class="d-flex flex-row align-items-center">
							<img class="avatar mr-10" src="{{ question.author.avatar }}"/>
							<small>Demandé par
								<span class="clickable">{{ question.author.name }}</span>
							</small>
						</div>
						<div class="d-flex flex-row align-items-center">
							<i class="far fa-comment mr-10"></i>
							<p>{{ question.nbrOfResponse }}</p>
						</div>
					</div>
				</div>

			</a>
		{% endfor %}
	</ul>

{% endblock %}
